@use '../variable' as *;

.operationArea{
  display: flex;
  justify-content: space-between;
	&-l{
		width: 55%;
	}
}

.operationArea-l{
	display: flex;
}

.addMain{
	flex:1;
	max-width: 1000px;
	margin: 0 auto;
	&-inner{
		position: relative;
	}
	&-gosen{
		aspect-ratio: 2.146;
		img{
			width: 100%;
			height: 100%;
		}
	}
}

.actionArea{
	width: 40%;
	margin-top: 25px;
}

.actionBtns{
	&-row{
		display: flex;
		flex-wrap:wrap;
		& + &{
			margin-top: 13px;
		}
		&.is-waon{
			.btn-grad{
				width: 31%;
			}
		}
		&-group{
			display: flex;
			align-items: center;
			width: 100%;
			&-title{
				margin-right: 20px;
				font-size: 1.8rem;
			}
			select{
				display: block;
				flex:1;
				padding: 13px;
			}
			&-newBtn{
				margin-left: 20px;
			}
		}
	}
}

.registerBtn{
	@include section-center;
	margin-top: 220px;
	text-align: center;
}

.newGroupAdd{
	text-align: center;
	&-title{
		margin: 0 0 20px;
		color: $themeColor;
		font-size: 1.8rem;
	}
	&-inputArea{
		margin-top: 10px;
	}
}

.editBtns{
	display: flex;
	flex-direction: column;
	gap: 20px;
	margin-top: 30px;
	margin-left: 5%;
	button{
		border: 1px solid #999;
		border-radius: 2px;
		color: #999;
	}
	&-item{
		display: flex;
		align-items: center;
		width: 100%;
		padding: 5px 6px;
		text-align: left;
		&.is-culumn{
			display: flex;
			justify-content: space-between;
			padding: 0;
		}
		img{
			margin-right: 6px;
		}
		&-label{
			color: #333;
		}
		&-one{
			width: 46%;
			height: 30px;
			&-kigouBtn{
				display: flex;
				align-items: center;
				justify-content: center;
				width: 100%;
				height: 100%;
				display: flex;
				&-imgWrap{
					position: relative;
					display: block;
					width: 20px;
					height: 20px;
					margin-right: 0;
				}
			}
		}
	}
}

.editDescription{
	width: 100%;
	margin-bottom: 30px;
	background: #f7f5f1;
	padding: 10px 5%;
}