@use '../variable' as *;

.code{
  display: flex;
  justify-content: space-evenly;
  width: 74%;
  height: 60px;
  margin-bottom: 50px;
  padding-top: 80px;
  margin-left: 20%;
  font-weight: bold;
  text-align:center;
  &-one{
    display: block;
    @include font-roboto;
    line-height: 1.2;
    width: 16%;
    height: 100%;
    font-size: 4rem;
  }
}
.gosenContainer{
  position: relative;
  width: 100%;
  padding: 8.3% 0;
  &-gosen{
    aspect-ratio: 2.75;
  }
}

.toAddBtn{
  position: fixed;
  top: 100px;
  left: 40px;
}

.startBtn{
  position: fixed;
  top: 100px;
  right: 40px;
}

.userSetting{
  display: flex;
  flex-wrap:wrap;
  width: calc(100% - 180px);
  margin-bottom: 15px;
  font-size: 2rem;
  gap: 30px;
  &-one{
    display: flex;
    align-items: center;
    &-label{
      margin-right: 5px;
    }
  }
}