@use '../variable' as v;

.title-l{
  font-size: 3.5rem;
  font-weight: bold;
  color: #0094e0;
  text-align: center;
}

.title-m{
  margin-bottom: 40px;
  border-bottom: 2px solid v.$themeColor;
  padding-bottom: 5px;
  font-size: 2rem;
  font-weight: bold;
}