@use '../variable' as *;

.header{
  position: fixed;
  top: 0;
  left: 0;
  display: flex;
  justify-content: space-between;
  width: 100%;
  height: 80px;
  padding: 0 10px;
  background: #9696962a;
  text-align: right;
  z-index: 3;
  @include tab{
    height: 60px;
  }
  &-info{
    position: relative;
    display: flex;
    align-items: center;
    &-user{
      position: absolute;
      top: 3px;
      right: 0px;
      font-size: 1.2rem;
      @include tab{
        font-size: 1.1rem;
      }
    }
    &-name{
      margin-right: 20px;
      font-size: 1.3rem;
      font-weight: bold;
    }
    &-btns{
      display: inline-flex;
      margin-top: 10px;
      &-btn{
        & + &{
          margin-left: 10px;
        }
        .btn-s{
          width: 100px;
          padding-right: 5px;
          padding-left: 5px;
          text-align: center;
        }
      }
    }
  }
}

.logo{
  margin-top: 12px;
  &-img{
    position: relative;
    display: block;
    width: 100px;
    aspect-ratio: 1.78;
    @include tab{
      width: auto;
      height: 90%;
    }
  }
}

.headerAccount{
  position: relative;
  &-icon{
    display: block;
    width: 40px;
    height: 40px;
    cursor: pointer;
    @include tab{
      width: 32px;
      height: 32px;
    }
    img{
      width: 100%;
      height: 100%;
    }
  }
}

.headerAccountMenu{
  position: absolute;
  top: 100%;
  right: 0;
  width: 200px;
  border: 1px solid #ccc;
  border-radius: 5px;
  background: #fff;
  opacity: 0;
  transform: scaleY(.7);
  transition: all .2s;
  transform-origin: top;
  pointer-events: none;
  &-item{
    text-align: left;
    height: 50px;
    font-size: 1.6rem;
    font-weight: bold;
    & + &{
      border-top: 1px solid #ccc;
    }
    &-link{
      display: flex;
      align-items: center;
      width: 100%;
      height: 100%;
      padding: 0 20px;
      cursor: pointer;
    }
  }
  &.is-show{
    opacity: 1;
    transform: scaleY(1);
    pointer-events: all;
  }
}