@use '../variable' as *;

.btn-big{
  display: inline-flex;
  align-items: center;
  justify-content: center;
  border: none;
  width: 200px;
  height: 57px;
  padding: 10px;
  border-radius: 5px;
  font-size: 2.5rem;
  color: #fff;
  font-weight: bold;
  cursor: pointer;
  text-align: center;
  @include sp{
    font-size: 2rem;
  }
  &.is-green{
    background: linear-gradient(#c6dd00 , #70aa01);
    text-shadow: 0 0 10px  #45a11a;
  }
  &.is-blue{
    background: linear-gradient(#94e8ff , #0795de);
    text-shadow: 0 0 10px  rgba(7, 150, 222, 0.773);
  }
}

.btn-s{
  display: inline-block;
  padding: 10px 20px;
  border-radius: 3px;
  background: #f0f0f0;
  font-weight: bold;
  letter-spacing: .1rem;
  border: 1px solid #ccc;
  transition: all .3s;
  cursor: pointer;
  &.is-orange{
    background: #ff8800;
    border: none;
    color: #fff;
  }
  &.is-pink{
    background: #ad1c89;
    border: none;
    color: #fff;
  }
  &.is-red{
    background: $themeColor;
    border: none;
    color: #fff;
  }
  &.is-blue{
    background: #32a8e4;
    border: none;
    color: #fff;
  }
  @include hover{
    &:hover{
      opacity:.8;
    }
  }
}

.btn-grad{
  display: inline-flex;
  align-items: center;
  justify-content: center;
  padding: 0 20px;
  height: 47px;
  border-radius: 5px;
  color: #fff;
  font-weight: bold;
  font-size:  1.8rem;
  letter-spacing: .1rem;
  cursor: pointer;
  @include tab-sp{
    font-size: 1.6rem;
  }
  &:not(:nth-child(3n + 1)){
    margin-left: 3.5%;
  }
  &.is-gray{
    color: #000;
    border: 1px solid #ccc;
    background: linear-gradient(#ffffff , #a7a6a6);
  }
  &.is-green{
    border: 1px solid #93c019;
    background: linear-gradient(#c6dd00 , #70aa01);
  }
  &.is-blue{
    border: 1px solid #6bc9f8;
    background: linear-gradient(#94e8ff , #0795de);
  }
  &.is-yellow{
    border: 1px solid #de8807;
    background: linear-gradient(#ffbb00 , #de8807);
  }
  img{
    height: 70%;
  }
}

.btn-plus{
  width: 30px;
  height: 30px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 2rem;
  padding: 4px;
  background: #f0f0f0;
  border: 1px solid #ccc;
  line-height: 0;
  cursor: pointer;
}